<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chemguan.dao.ActivityCommodityRepository">
    <resultMap id="BaseResultMap" type="com.chemguan.entity.ActivityCommodity">
            <id column="ac_id" jdbcType="INTEGER" property="acId"/>
            <result column="commodity_id" jdbcType="INTEGER" property="commodityId"/>
            <result column="activity_id" jdbcType="INTEGER" property="activityId"/>
            <result column="ac_type" jdbcType="INTEGER" property="acType"/>
    </resultMap>

</mapper>