<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chemguan.dao.FollowRecordRepository">
    <resultMap id="BaseResultMap" type="com.chemguan.entity.FollowRecord">
            <id column="record_id" jdbcType="INTEGER" property="recordId"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="follow_uid" jdbcType="INTEGER" property="followUid"/>
            <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
    </resultMap>



    <select id="findcountbyuid" resultType="java.lang.Integer">
      select count(*) from follow_record where user_id=#{userId}
    </select>
    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->
</mapper>