<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chemguan.dao.OrderLogRepository">
    <resultMap id="BaseResultMap" type="com.chemguan.entity.OrderLog">
            <id column="log_id" jdbcType="INTEGER" property="logId"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="now_money" jdbcType="DOUBLE" property="nowMoney"/>
            <result column="old_money" jdbcType="DOUBLE" property="oldMoney"/>
            <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
            <result column="order_id" jdbcType="INTEGER" property="orderId"/>
    </resultMap>

    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->
</mapper>