<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chemguan.dao.TsCollectRepository">
    <resultMap id="BaseResultMap" type="com.chemguan.entity.TsCollect">
            <id column="collect_id" jdbcType="INTEGER" property="collectId"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="activity_id" jdbcType="INTEGER" property="activityId"/>
            <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
    </resultMap>

    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->
</mapper>