@charset "utf-8";




/*主体内容*/
.ht_content .left{
	width: 353px;
	height: 600px;
	background: red;
	float: left;
}
.ht_content .right{
	margin-left: 353px;
	height: 700px;
	padding: 27px 20px 40px 20px;
}
.ht_content .right h3{
	color: #333;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 17px;
	border-bottom: 1px solid #eaeaea;
}
.ht_content .right h3 span{
	display: inline-block;
	line-height: 16px;
	padding-left: 6px;
	border-left: 2px solid #efae7d;
}
.ht_content .right .right_cont{
	font-size: 14px;
	margin-top: 40px;
}
.ht_content .right .right_cont p{
	margin-bottom: 30px;
}
.ht_content .right .right_cont p span{
	display:inline-block;
	width:112px;
	color: #333;
	margin-right: 16px;
	text-align: right;
}
.ht_content .right .right_cont p.p1 input{
	width: 326px;
	height: 43px;
	line-height: 43px;
	padding: 0 10px;
	background: #f2f2f2;
	color: #999999;
}
.ht_content .right .right_cont p.p2 input{
	width: 326px;
	height: 43px;
	line-height: 43px;
	padding: 0 10px;
	background: #f2f2f2;
	color: #999999;
}
.ht_content .right .right_cont p.p3 select{
	width: 202px;
	height: 43px;
	line-height: 43px;
	padding: 0 10px;
	background: #f2f2f2;
	color: #666;
	/*-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;*/
}
.ht_content .right .right_cont p.p4 input{
	margin-right: 8px;
}
.ht_content .right .right_cont p.p5 span{
	float: left;
}
.ht_content .right .right_cont p.p5 textarea{
	float: left;
	width: 657px;
	height: 163px;
	padding: 18px 18px;
	background: #f2f2f2;
}
.ht_content .right .right_cont .btn{
	width: 330px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #e57e31;
	font-size: 16px;
	margin-left: 124px;
	margin-top: 60px;
	margin-bottom:30px;
	border:0;
}
.ht_content .right .right_cont .btn a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}


/*后台3*/
.ht_content3 .left{
	width: 353px;
	height: 600px;
	background: red;
	float: left;
}
.ht_content3 .right{
	margin-left: 353px;
	height: 700px;
	padding: 27px 20px 40px 20px;
}
.ht_content3 .right h3{
	color: #333;
	font-size: 16px;
	font-weight: normal;
}
.ht_content3 .right h3 span{
	display: inline-block;
	line-height: 16px;
	padding-left: 6px;
	border-left: 2px solid #efae7d;
}
.ht_content3 .right h3 b{
	display: block;
	float: right;
	height: 24px;
	line-height: 24px;
	font-weight: normal;
}
.ht_content3 .right h3 b i{
	display: inline-block;
	font-style: normal;
	height: 24px;
	line-height: 24px;
	padding: 0 12px;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	background: #e57e31;
	cursor: pointer;
	margin-left: 10px;
}
.ht_content3 .right .right_cont{
	font-size: 14px;
	margin-top: 20px;
}
.ht_content3 .right .right_cont table{
	width: 100%;
	font-size: 14px;
	color: #666666;
	border-collapse: collapse;
	margin-bottom: 130px;
}
.ht_content3 .right .right_cont table thead{
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	box-sizing: border-box;
	background: #f7faff; 
	line-height: 48px;
}
.ht_content3 .right .right_cont table thead tr td{
	text-align: center;
}

.ht_content3 .right .right_cont table tbody{
	padding-top: 10px;
}
.ht_content3 .right .right_cont table  tr{
	width: 100%;
}
.ht_content3 .right .right_cont table tbody tr.on{
	background: #f9f9f9;
}
.ht_content3 .right .right_cont table tbody tr.two{
	background: #f6f4f4;
}
.ht_content3 .right .right_cont table tr b{
	color: #333333;
}

.ht_content3 .right .right_cont table tbody tr td{
	text-align: center;
	padding: 10px 0px;
	box-sizing: border-box;
    border-bottom: 4px solid #fff;
}
.ht_content3 .right .right_cont table tbody tr td img{
	margin-bottom: 5px;
}





/*首页*/
.ht_content4 .right{
	margin-left: 353px;
	/*height: 700px;*/
	padding: 20px 20px 20px 20px;
	background: #f7f6f6;
}

.ht_content4 .right .navs{
	padding-bottom: 23px;
	border-bottom: 1px dashed #c9c8c8;
}
.ht_content4 .right .navs li{
	width: 24%;
	height: 178px;
	padding-top: 33px;
	background: #fff;
	float: left;
	margin-left: 1%;
	text-align: center;
	border-bottom: 2px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

/*hover效果*/
.ht_content4 .right .navs li.li1:hover{
	border-bottom: 2px solid #309d9e;
}
.ht_content4 .right .navs li.li2:hover{
	border-bottom: 2px solid #c64990;
}
.ht_content4 .right .navs li.li3:hover{
	border-bottom: 2px solid #20a1c6;
}
.ht_content4 .right .navs li.li4:hover{
	border-bottom: 2px solid #996e37;
}

.ht_content4 .right .navs li:first-child{
	margin-left: 0px;
}


.ht_content4 .right .navs li a{
	display: block;
	width: 100%;
	height: 100%;
}
.ht_content4 .right .navs li h1{
	width: 107px;
	height: 107px;
	margin: 0 auto;
	overflow: hidden;
}
.ht_content4 .right .navs li p{
	font-size: 16px;
	color: #333;
	margin-top: 20px;
}

.ht_content4 .right .center{
	margin-top: 20px;
	padding-bottom: 24px;
	border-bottom: 1px dashed #c8c8c8;
}
.ht_content4 .right .center .center_left{
	width: 49%;
	float: left;
}
.ht_content4 .right .center .center_left h3{
	color: #333;
	font-size: 16px;
	/*font-weight: normal;*/
}
.ht_content4 .right .center .center_left h3 span{
	display: inline-block;
	line-height: 16px;
	padding-left: 6px;
	border-left: 2px solid #efae7d;
}
.ht_content4 .right .center .center_left h3 b{
	display: block;
	float: right;
	height: 24px;
	line-height: 24px;
	font-weight: normal;
}
.ht_content4 .right .center .center_left h3 b i{
	display: inline-block;
	font-style: normal;
	height: 24px;
	line-height: 24px;
	padding: 0 12px;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	background: #e57e31;
	cursor: pointer;
	margin-left: 5px;
}
.ht_content4 .right .center .center_left h3 b i.i1{
	background: #666666;
}
.ht_content4 .right .center .center_left h3 b i a{
	color: #fff;
}

.ht_content4 .right .center .center_left ul{
	margin-top: 20px;
	padding: 30px 15px;
	background: #fff;
}
.ht_content4 .right .center .center_left ul li{
	font-size: 14px;
	margin-top: 30px;
}

.ht_content4 .right .center .center_left ul li:hover p{
	color: #e57e31;
}
.ht_content4 .right .center .center_left ul li:first-child{
	margin-top: 0;
}
.ht_content4 .right .center .center_left ul li b{
	display:block;
	font-weight: normal;
	color: #999;
	float: right;
}
.ht_content4 .right .center .center_left ul li p{
	width: 76%;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden; 
	color: #666666;
	float: left;
}
.ht_content4 .right .center .center_left ul li p em{
	display: inline-block;
	margin-right: 10px;
}


.ht_content4 .right .center .center_right{
	width: 49%;
	float: right;
}
.ht_content4 .right .center .center_right h3{
	color: #333;
	font-size: 16px;
	/*font-weight: normal;*/
}
.ht_content4 .right .center .center_right h3 span{
	display: inline-block;
	line-height: 16px;
	padding-left: 6px;
	border-left: 2px solid #efae7d;
}
.ht_content4 .right .center .center_right h3 b{
	display: block;
	float: right;
	height: 24px;
	line-height: 24px;
	font-weight: normal;
}
.ht_content4 .right .center .center_right h3 b i{
	display: inline-block;
	font-style: normal;
	height: 24px;
	line-height: 24px;
	padding: 0 12px;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	background: #e57e31;
	cursor: pointer;
	margin-left: 5px;
}
.ht_content4 .right .center .center_right h3 b i.i1{
	background: #666666;
}
.ht_content4 .right .center .center_right h3 b i a{
	color: #fff;
}

.ht_content4 .right .center .center_right table{
	width: 100%;
	font-size: 14px;
	color: #666666;
	border-collapse: collapse;
	margin-top: 20px;
	text-align: center;
}

.ht_content4 .right .center .center_right table thead tr{
	background: #fcefe6;
}
.ht_content4 .right .center .center_right table thead tr th{
	padding: 18px 0px;
}
.ht_content4 .right .center .center_right table thead tr th b{
	display: block;
}
.ht_content4 .right .center .center_right table tbody tr{
	color: #555;
	background: #fff;
	cursor: pointer;
}
.ht_content4 .right .center .center_right table tbody tr:hover td{
	color: #e57e31;
}

.ht_content4 .right .center .center_right table tbody tr td{
	padding: 17px 0px;
}



.ht_content4 .right .Bottoms{
	margin-top: 20px;
}
.ht_content4 .right .Bottoms h3{
	color: #333;
	font-size: 16px;
	/*font-weight: normal;*/
}
.ht_content4 .right .Bottoms h3 span{
	display: inline-block;
	line-height: 16px;
	padding-left: 6px;
	border-left: 2px solid #efae7d;
}
.ht_content4 .right .Bottoms h3 b{
	display: block;
	float: right;
	height: 24px;
	line-height: 24px;
	font-weight: normal;
}
.ht_content4 .right .Bottoms h3 b i{
	display: inline-block;
	font-style: normal;
	height: 24px;
	line-height: 24px;
	padding: 0 12px;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	background: #e57e31;
	cursor: pointer;
	margin-left: 5px;
}


.ht_content4 .right .Bottoms .tt{
	width: 100%;
	height: auto;
	border-collapse:collapse;
	text-align: center;
	margin-bottom: 47px;
	margin-top: 20px;
}
.ht_content4 .right .Bottoms .tt thead{
	color: #333;
	font-weight: bold;
	height: 58px;
	line-height: 58px;
	background: #fcefe6;
	box-sizing: border-box;
	border-top: 1px solid #e6e8ed;
	border-bottom: 1px solid #e6e8ed;
}
.ht_content4 .right .Bottoms .tt tbody td{
	height: 71px;
	line-height: 71px;
	box-sizing: border-box;
	border-bottom: 3px solid #f7f6f6;	
}
.ht_content4 .right .Bottoms .tt tbody .odd{background: #fff;}
.ht_content4 .right .Bottoms .tt tbody .even{background: #fbfbfb;}

.ht_content4 .right .Bottoms .tt img{
	width: 55px;
	height: 55px;
}
.ht_content4 .right .Bottoms .operate a:first-child{
	background: none
}
.ht_content4 .right .Bottoms .operate a{
	display: inline-block;
	background: url(../images/line.jpg) no-repeat left center;
	padding: 0 10px;
}
.ht_content4 .right .Bottoms .operate a.del{
	color: #244a82;
}
/*首页结束*/


/*登录页面*/
.dlym{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.dlym img{
	width: 100%;
	height: 100%;
}

.dl_cont{
	width:62.5%;
	margin: 0 auto;
	height: 100%;
}
.dl_cont .dl_left{
	width: 31.5%;
	height: 13%;
	margin-top: 37%;
	margin-left: 8%;
	float: left;
	background: url(../images/logo.png) top left no-repeat;
	background-size: 100%;
}
/*.dl_cont .dl_left h1{
	width: 257px;
	height: 66px;
	margin-left: 13%;
}*/

/*.dl_cont .dl_left ul{
	margin-top: 32px;
}
.dl_cont .dl_left ul li{
	float: left;
	font-size: 18px;
	color: #333333;
}
.dl_cont .dl_left ul li b{
	display: block;
	width: 1px;
	height: 13px;
	background: #a66b32;
	margin: 0 6px;
	margin-top: 6px;
}*/


.dl_cont .dl_right{
	float: right;
    width: 46.4%;
    height: 100%;
    background: url(../images/dlbg1.png) top left;
    margin-right: 5%;
}
.dl_cont .dl_right .dl_right1{
	width: 100%;
    height: 62%;
    margin-top: 40%;
    background: url(../images/dlbg2.png) top left;
}
.dl_cont .dl_right .dl_right1 h3{
	font-size: 30px;
	color: #2c2c2c;
	text-align: center;
	padding-top: 10%;
}
.dl_cont .dl_right .dl_right1 b{
	display: block;
    width: 46.4%;
    height: 3%;
    margin: 0 auto;
    margin-top: 14px;
    background: url(../images/dlym_03.png) top left no-repeat;
    background-size: 100%;
}

.dl_cont .dl_right .dl_right1 .dl_right1_cont{
	margin-top: 9%;
    height: 39%;
}
.dl_cont .dl_right .dl_right1 .dl_right1_cont p.p1{
	width: 73%;
    /* height: 52px; */
    line-height: 320%;
    height: 24%;
    margin: 0 auto;
    margin-bottom: 6%;
    color: #333;
    font-size: 16px;
    background: url(../images/dlym_09.png) top left no-repeat;
    background-size: 100%;
}
.dl_cont .dl_right .dl_right1 .dl_right1_cont p.p1 span{
	display: inline-block;
    margin-left: 17%;
    margin-right: 2%;
}
.dl_cont .dl_right .dl_right1 .dl_right1_cont p.p1 input{
	height: 100%;
    /* line-height: 52px; */
    color: #9a8d7f;
    width: 66.3%;
}

.dl_cont .dl_right .dl_right1 .dl_right1_cont p.p2{
	width: 73%;
    /* height: 52px; */
    line-height: 320%;
    height: 24%;
    margin: 0 auto;
    margin-bottom:6%;
    color: #333;
    font-size: 16px;
    background: url(../images/dlym_09.png) top left no-repeat;
    background-size: 100%;
}
.dl_cont .dl_right .dl_right1 .dl_right1_cont p.p2 span{
	display: inline-block;
    margin-left: 17%;
    margin-right: 2%;
}
.dl_cont .dl_right .dl_right1 .dl_right1_cont p.p2 input{
	height: 100%;
    /* line-height: 52px; */
    color: #9a8d7f;
    width: 66.3%;
}

.dl_cont .dl_right .dl_right1 .dl_right1_cont .code{
	height: 24%;
}
.dl_cont .dl_right .dl_right1 .dl_right1_cont .code .p3{
	width: 49.2%;
    /* height: 52px; */
    /* line-height: 52px; */
    line-height: 320%;
    height: 100%;
    margin-left: 14%;
    float: left;
    color: #333;
    font-size: 16px;
    background: url(../images/dlym_15.png) top left no-repeat;
    background-size: 100%;
}
.dl_cont .dl_right .dl_right1 .dl_right1_cont .code .p3 span{
	display: inline-block;
    margin-left: 25%;
    margin-right: 2%;
}
.dl_cont .dl_right .dl_right1 .dl_right1_cont .code .p3 input{
	height: 100%;
	color: #9a8d7f;
	width: 47%;
}

.dl_cont .dl_right .dl_right1 .dl_right1_cont .code em{
	display: block;
    width: 20.1%;
    height: 88%;
    /* line-height: 46px; */
    float: left;
    margin-left: 3%;
    margin-top: 0.5%;
    background: #cb9968;
}
.dl_cont .dl_right .dl_right1 .dl_right1_cont .code em img{
	width:100%;
	height: 100%;
}

.dl_cont .dl_right .dl_right1 .btn{
	width: 51%;
    height: 10%;
    line-height: 320%;
    text-align: center;
    margin: 0 auto;
    margin-top: 11%;
    color: #fff;
    font-size: 16px;
    background: url(../images/dlym_22.png) top left no-repeat;
    background-size: 100%;
    display:block;
    border:0;
}
.dl_cont .dl_right .dl_right1 .btn a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;	
}
/*登录页面*/



/*三级修改*/
.ququ{
	padding: 0 100px;
}
.ququ p{
	float:left;
	margin-right:30px;
}
.ququ p b{
	font-weight: normal;
	margin-left:6px;
}


